:root {
  --cream: hsl(27, 66%, 92%);
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --pale-orange: hsl(33, 100%, 98%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  background-color: var(--cream);
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
